<div id="<%= dom_id student %>">
  <p class="field">
    <strong>Student Name:</strong>
    <%= student.name %>
  </p>

  <p class="field">
    <strong>Year level:</strong>
    <%= student.year_level %>
  </p>

</div>
