<div id="<%= dom_id subject %>">
  <p class="field">
    <strong>Subject Name: </strong><%= subject.name %>
  </p>

  <p class="field">
    <strong>Unit:</strong>
    <%= subject.unit %>
  </p>

  <p class="field">
    <strong>Teacher:</strong>
    <%= subject.teacher.name %>
  </p>

</div>
