<h1>Editing subject</h1>

<div style="margin-left:10px;">
  <%= render "form", subject: @subject %>
</div>
<br>

<div>
  <%= link_to "Show this subject", @subject %> |
  <%= link_to "Back to subjects", subjects_path %>
</div>
