<div id="<%= dom_id teacher %>">
  <p class="field">
    <strong>Name of Teacher:</strong><span>
        <%= teacher.name %>
    </span>
  </p>

  <p class="field">
    <strong>Department name:</strong>
    <%= teacher.department_name %>
  </p>

</div>
