<p style="color: green"><%= notice %></p>

<h1>Teachers</h1>

<div id="teachers">
  <table>
    <thead>
      <th>Teacher Name</th>
      <th>Department Name</th>
    </thead>
    <tbody>
       <% @teachers.each do |teacher| %>
       <tr>
        <td> <%= link_to teacher.name, teacher %></td>
        <td> <%= teacher.department_name%></td>
       </tr>
       <% end %>
    </tbody>
  </table>
</div>
<br>
<%= link_to "New teacher", new_teacher_path %>
